<div [class]="classes()">
    @if (header() || title()) {
    <div class="card-header">
        @if (title()) {
        <h3 class="card-title">{{ title() }}</h3>
        }
        @if (description()) {
        <p class="card-description">{{ description() }}</p>
        }
        <ng-content select="[header]"></ng-content>
    </div>
    }
    <div class="card-content" [class.card-content--no-header]="!header() && !title()">
        <ng-content></ng-content>
    </div>
    @if (footer()) {
    <div class="card-footer">
        <ng-content select="[footer]"></ng-content>
    </div>
    }
</div>