<div class="input">
    @if (label()) {
    <label [for]="id()" class="input__label">
        {{ label() }}
    </label>
    }
    <input [id]="id()" [type]="type()" [placeholder]="placeholder()" [disabled]="disabled()" [value]="value()"
        (input)="onInput($event)" (blur)="onTouched()" class="input__field" [ngClass]="inputClasses()" />
    <div class="input__message-container">
        @if (error()) {
        <p class="input__error">{{ error() }}</p>
        } @else if (hint()) {
        <p class="input__hint">{{ hint() }}</p>
        }
    </div>
</div>