@use '../../../../assets/styles/variables' as *;
@use '../../../../assets/styles/mixins' as *;

.input {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__label {
        font-size: $text-sm;
        font-weight: 500;
        line-height: 1;
        color: color(foreground);
        margin-bottom: 0.5rem;
    }

    &__field {
        display: flex;
        height: 2.5rem; // h-10
        width: 100%;
        border-radius: $radius-md;
        border: 1px solid color(input);
        background-color: color(background);
        padding: $spacing-2 $spacing-3;
        font-size: $text-sm;
        color: color(foreground);
        transition: all 0.2s;

        &::placeholder {
            color: color(muted-foreground);
        }

        &:focus-visible {
            outline: none;
            box-shadow: 0 0 0 2px color(ring), 0 0 0 4px color(background);
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }

        &[type='file'] {
            border: 0;
            background-color: transparent;
            font-size: $text-sm;
            font-weight: 500;
        }
    }

    &__message-container {
        min-height: 1.25rem;
        display: flex;
        align-items: flex-start;
        margin-top: 0.1rem;
    }

    &__error {
        font-size: $text-xs;
        font-weight: 500;
        color: color(destructive);
        margin: 0;
    }

    &__hint {
        font-size: $text-xs;
        color: color(muted-foreground);
        margin: 0;
    }
}