<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">
            {{ 'footer.builtBy' | translate }} <a href="#" class="font-medium">TherianCommunity</a>.
        </p>
        <nav class="footer-nav">
            <a routerLink="/info">{{ 'footer.whatIs' | translate }}</a>
            <a routerLink="/glossary">{{ 'footer.glossary' | translate }}</a>
            <a routerLink="/guidelines">{{ 'footer.rules' | translate }}</a>
        </nav>
    </div>
</footer>